<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" >Tenamt Information</a>
  </nav>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your Details</h5>
            <p class="card-text"><strong>Email:</strong> {{tenant.email}}</p>
            <p class="card-text"><strong>Name:</strong> {{tenant.name}}</p>
            <p class="card-text"><strong>Number:</strong> {{tenant.number}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>